/* Popup */
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
}
.popup::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
}
.popup.show {
	visibility: visible;
	overflow: auto;
}
.popup.show::before {
	opacity: 1;
}
.popup.show .popup__body {
	transform: scale(1);
}
.popup._active {
	overflow: auto;
	visibility: visible;
}
.popup._active::before {
	opacity: 1;
}
.popup._active .popup__body {
	transition: all 0.3s ease 0.2s;
	transform: scale(1);
}
.popup__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__body {
	max-width: 510px;
	transform: scale(0);
	transition: all 0.3s ease 0s;
	background-color: #fff;
	padding: 30px;
	width: 100%;
}
.popup__close {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 16px;
	right: 16px;
	cursor: pointer;
	z-index: 30;
	background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.popup-cart__title {
	text-align: center;
	width: 100%;
	margin: 0 0 30px;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #292D2D;
}

.popup-cart__name {
	text-align: center;
	width: 100%;
	margin: 0px 0px 30px 0px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #232323;
}

.popup-cart__btns {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-cart__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 215px !important;
	height: 41px !important;
	line-height: 41px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}
/* .popup-cart__btn--continue {
	color: #4AA5A9;
	border: 1px solid #4aa5a9;
	background: #fff;
}
.popup-cart__btn--continue:hover {
	color: #fff;
	background: #4AA5A9;
} */

.popup-cart__btn--order {
	color: #fff;
	background: #4AA5A9;
	border: 1px solid #4aa5a9;
}
.popup-cart__btn--order:hover {
	color: #4AA5A9;
	background: #fff;
}
.popup-cart__btn--continue.popup__close {
	margin: 0px 0px 10px 0px;
	width: auto;
	height: auto;
	position: static;
	color: #4AA5A9;
	border: 1px solid #4aa5a9;
	background: #fff;
	top: auto;
	right: auto;
}
.popup-cart__btn--continue.popup__close:hover {
	color: #fff;
	background: #4AA5A9;
}







/* Options */
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}
.options__input:checked + .options__text:after {
  transform: scale(1);
}
.options__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
	line-height: 22px;
	color: #292D2D;
}
.options__text:before {
  content: "";
  align-self: flex-start;
  margin: 2px 10px 0px 0px;
  flex: 0 0 18px;
  left: 0;
  top: 0px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #4AA5A9;
  border: 1px solid #a7a9ac;
}
.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
	left: 4px;
	top: 6px;
}

/* custom placeholder */
._hidden {
	display: none !important;
}
._placeholder-parent {
	position: relative;
}
._placeholder-parent ._placeholder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	font-size: 14px;
	line-height: 40px;
	color: #747780;
	padding: 0px 0px 0px 10px;
	cursor: text;
	z-index: 1;
}
._placeholder-parent ._placeholder ._asterisk {
	color: #ff0027;
}


.center {
	text-align: center;
}
._tabs-block {
	display: none;
}
._tabs-block._active {
	display: block;
}
@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
/* Swiper*/
._swiper {
	overflow: hidden;
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-container-vertical .swiper-wrapper {
	flex-direction: column;
}
.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
}
.swiper-container-initialized .swiper-slide {
	flex-shrink: 0;
}
.swiper-container-android .swiper-slide, .swiper-container-android .swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}
.swiper-button-lock {
	display: none !important;
}
@media (min-width: 1200px) {
	.container {
    max-width: 1250px;
	}
}
@media (max-width: 576px) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* Intro */
.container_intro {
	max-height: 600px;
	overflow: hidden;
	margin: 0px auto;
}

.intro {
	position: relative;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.intro .swiper-wrapper {
	height: auto !important;
}

.intro__arrow {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin: -25px 0px 0px 0px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}

@media (min-width: 991px){
	.intro__arrow:hover {
		background-color: rgba(0, 0, 0, .05);
	}
}

.intro__arrow--prev {
	left: 20px;
	background: url(../img/icons/p-left.svg) center no-repeat;
}

.intro__arrow--next {
	right: 20px;
	background: url(../img/icons/p-right.svg) center no-repeat;
}
@media (max-width: 576px){
	.intro__arrow {
		width: 20px;
		height: 20px;
		margin: -10px 0px 0px 0px;
	}
	.intro__arrow--next {
		right: 10px;
	}
	.intro__arrow--prev {
		left: 10px;
	}
}

/* About */
.container_about {
	padding-top: 90px;
}

@media (max-width: 992px){
	.container_about {
		padding-top: 60px;
	}
	.container_about {
		padding-bottom: 20px;
	}
}

@media (max-width: 576px){
	.container_about {
		padding-top: 30px;
	}
	.container_about {
		padding-bottom: 0px;
	}
}

.container_about .container_title {
	margin-bottom: 15px;
}

/* Products  */
.container__products {
margin-top: 30px;
margin-bottom: 60px;
}

@media (max-width: 992px){
	.container__products {
		margin-bottom: 30px;
	}
}
@media (max-width: 576px){
	.container__products {
		margin-bottom: 15px;
	}
}
.products-filter{
	margin-bottom: 15px;
}
.products-filter li {
	margin: 0px 15px 15px 0px;
}
.products-filter li:last-child{
	margin-right: 0;
}
.products-filter__btn{
	padding: 11px 30px;
	background: #FFFFFF;
	box-shadow: 0 0 0 2px #DCDDDD;	
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #C4C4C4;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

@media (min-width: 991.98px){
	.products-filter__btn:hover {
		color: #fff;
		background: #4aa5a9;
		box-shadow: 0 0 0 2px #4aa5a9;
	}
}

.products-filter__btn._active {
	color: #fff;
	background: #4aa5a9;
	box-shadow: 0 0 0 2px #4aa5a9;
	cursor: default;
}
.products-catalog-mobile {
	display: none;
}
@media (max-width: 1250px){
	.products-catalog {
		display: none;
	}
	.products-catalog-mobile {
		display: flex;
	}
}
.products-catalog.row {
	margin-left: -15px;
	margin-right: -15px;
}
.products-catalog li {
	display: flex;
	flex: 0 0 312px;
	margin: 0px 0px 30px 0px;
	padding: 0px 15px;
}

@media (max-width: 768px){
	.products-filter__btn {
		padding: 8.5px 15px;
		font-size: 14px;
		line-height: 1;
	}
	.products-filter li {
		margin: 0px 10px 10px 0px;
	}
}

/* Products-card */
.products-card{
	flex: 0 0 282px;
	max-width: 322px;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #DCDDDD;
}

@media (max-width: 630px){
	.products-card {
		max-width: 335px;
	}
}
.container__products .swiper-slide {
	height: 100%;
}

@media (min-width: 1250px){
	.container__products .swiper-wrapper {
		transform: translate3d(0px, 0px, 0px) !important;
		flex-wrap: wrap;
		justify-content: space-between;
		height: auto !important;
	}
	.container__products .swiper-slide {
		flex: 0 0 22%;
		margin-bottom: 2.7%;
		height: auto;
	}
}
.products-swiper-pagination {
	display: none !important;
}
@media (max-width: 1250px){
	.products-card{
		margin: 0px auto;
		height: 100%;
	}
	.products-swiper-pagination {
		display: flex !important;
		margin: 50px auto 0;
	}
}
@media (max-width: 767px){
	.products-swiper-pagination {
		margin: 30px auto 0;
	}
}
.products-card__img {
	width: 100%;
	position: relative;
	height: 265px;
	margin: 0px 0px 10px 0px;
	overflow: hidden;
}

.products-card__img img {
	transition: transform 0.5s ease 0s;
}

@media (min-width: 991.98px){
	.products-card__img:hover img {
		transform: scale(1.1);
	}
}

.products-card__img img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.products-card__discount,
.products-card__new,
.products-card__hit {
	display: none;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 20px;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: #FFFFFF;
}
.products-card__info {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
}
.products-card__discount{
	background: #D7233E;
}
.products-card__new{
	background: #419640;
}
.products-card__hit{
	background: #A79EE0;
}
.discount .products-card__discount,
.new .products-card__new,
.hit .products-card__hit {
	display: flex;
}

.products-card__title{
	flex: 1 1 auto;
	width: 100%;
	margin: 0px 0px 5px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.333;
	text-align: center;
	color: #4AA5A9;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 46px;
}

.products-card__title:hover {
	text-decoration: underline;
	color: #4AA5A9;
}

.products-card__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 141px;
}

.products-card__name{
	width: 100%;
	margin: 0 0px 10px 0px;
	font-weight: 700 ;
	font-size: 18px;
	line-height: 1.388;
	text-align: center;
	color: #242424;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 46px;
}
.products-card__prices {
	display: flex;
	justify-content: center;
	margin: auto 0px 20px 0px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.388;
	text-align: center;
	color: #292D2D;
}
.products-card__price-old {
	display: none;
	margin: 0px 17px 0px 0px;
	text-decoration: line-through;
	color: #C4C4C4;
}

.products-card__price-old.show {
	display: inline-block;
}

.products-card__bottom{
	display: flex;
}
.btn-product{
	display: flex;
	align-items: center;
	padding: 9px 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.357;
	text-align: center;
	color: #FFFFFF;
	background: #4AA5A9;
	border: 2px solid #4AA5A9;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	white-space: nowrap;
}

.btn-product::before{
	margin: 0px 10px 0px 0px;
	line-height: 1;
	font-size: 16px;
}

@media (min-width: 991.98px){
	.btn-product:hover {
		background: #fff;
		color: #4AA5A9;
	}
}

.quantity {
	box-sizing: border-box;
	position: relative;
	width: 80px;
	height: 40px;
	margin: 0px 10px 0px 0px;
}
@media (min-width: 991.98px){
	.quantity:hover input {
		box-shadow: inset 0 0 0 2px #4AA5A9;
	}
	.quantity:hover .quantity__btns {
		opacity: 1;
		visibility: visible;
	}
}

.quantity__btns {
	width: 20px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: #F9F9F9;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	-webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none;    
  -moz-user-select: none;   
  -ms-user-select: none;    
  user-select: none;  
}

.quantity__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 15px;
	flex: 0 0 15px;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}

@media (min-width: 991.98px){
	.quantity__button:hover {
		background: #dcdddd;
	}
}

.quantity__button_plus {
}

.quantity__button_minus {
	
}
.quantity__button_minus::after{
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-left: 5.25px solid transparent;
	border-right: 5.25px solid transparent;
	border-top: 4.6px solid #292D2D;
}
.quantity__button_plus::after{
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-left: 5.25px solid transparent;
	border-right: 5.25px solid transparent;
	border-bottom: 4.6px solid #292D2D;
}

.quantity__input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity__input input {
	width: 100%;
	background: #F2F2F2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height:40px;
	text-align: center;
	color: #242424;
	transition: box-shadow 0.3s ease 0s;
}

.quantity input:focus {
	box-shadow: 0 0 0 2px #4AA5A9;
}

/* Brands */
.container_brands {
	margin-bottom: 90px;
}
@media (max-width: 992px){
	.container_brands {
		margin-bottom: 60px;
	}
}

@media (max-width: 576px){
	.container_brands {
		margin-bottom: 30px;
	}
}


.brands__slider {
margin: 0px 0px 30px 0px;
}
@media (max-width: 768px){
	.brands__slider {
		margin: 0px 0px 15px 0px;
	}
}
.brands__slide {
	display: flex;
	align-items: center;
	height: 100%;
}
.brands__slide img {
	margin: 0px auto;
}

.pagination {
	display: flex;
	justify-content: center;
}

.swiper-pagination-bullet {
	display: block;
	width: 10px;
	height: 10px;
	margin: 0px 5px 0px 0px;
	border: 1px solid #4AA5A9;
	border-radius: 50%;
	transition: backgroun-color 0.3s ease 0s;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background: #4AA5A9;
}

.brands__pagination .swiper-pagination-bullet:last-child{
	margin: 0px 0px 0px 0px;
}

/* why-our-cosmetics */
.container_why-our-cosmetics {
	margin-bottom: 86px;
}

@media (min-width: 767px) and (max-width: 1200px){
	.cont-why {
		width: 50% !important;
	}
}

.container_why-our-cosmetics .container_title {
	margin: 0px 0px 20px;
	line-height: 1.362;
}

.container_why-our-cosmetics .container_text {
	margin: 0px 0px 52px;
	line-height: 1.875;
}

@media (max-width: 767px){
	.container_why-our-cosmetics .container_title {
		margin: 0px 0px 15px 0px;
	}
	.container_why-our-cosmetics .container_text {
		margin: 0px 0px 30px 0px;
	}
}

.container_text p {
	font-size: 16px;
}

@media (max-width: 768px){
	.container_text p {
    font-size: 14px;
	}
	.container_title p {
		font-size: 24px;
		line-height: 33px;
		font-weight: 800;
	}
}

.container_why-our-cosmetics .row {
	margin-bottom: 60px;
} 

@media (max-width: 992px){
	.container_why-our-cosmetics .row {
    margin-bottom: 20px;
	}
	.container_why-our-cosmetics {
    margin-bottom: 56px;
	}
}
@media (max-width: 576px){
	.container_why-our-cosmetics {
    margin-bottom: 26px;
	}
	.container_why-our-cosmetics .row {
    margin-bottom: 0px;
	}
}
.quality-info-container {
	flex: 0 0 60.2%;
	margin-left: 0px;
}
.container_quality {
	margin-bottom: 88px;
}
@media (max-width: 992px){
	.quality-info-container {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 768px){
	.container_quality {
    margin-bottom: 58px;
	}
	.quality-title p {
		font-weight: 800;
		font-size: 24px;
		line-height: 33px;
	}
	.quality-text p {
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
	}
}

.container_quality-black {
	padding-top: 90px;
	padding-bottom: 110px;
}
@media (max-width: 576px){
	.container_quality {
    margin-bottom: 30px;
	}
	.container_quality-black {
    padding-top: 70px;
    padding-bottom: 60px;
	}
}
.container_useful-info {
	margin-bottom: 100px;
}
@media (max-width: 992px){
	.container_useful-info {
		margin-bottom: 60px;
	}
}
@media (max-width: 992px){
	.container_useful-info {
		margin-bottom: 30px;
	}
}
.container_useful-info .row {
	margin-left: -15px;
	margin-right: -15px;
}
.container_useful-info .container_title span {
	margin: 0px 10px 0px 0px;
}
@media (max-width: 1200px){
	.container_useful-info .row {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 991px){
	.container_useful-info .col-xl-4 {
		padding-left: 0;
		padding-right: 0;
	}
}

.useful-info-image {
	height: 230px;
}
@media (max-width: 576px){
	.useful-info-image {
		height: 0;
		padding: 0px 0px 60.3%;
		position: relative;
	}
	.useful-info-image img {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.useful-info-link a {
	font-size: 16px;
}

@media (max-width: 768px){
	.useful-info-title a {
		font-weight: 700;
		font-size: 20px;
		line-height: 22px;
	}
	.useful-info-text p {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
	}
	.useful-info-link a {
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/* Blog Page */
.header-bg__section--blog {
	display: flex; 
	align-items: center; 
	margin: 0px 0px 90px 0px;
	background-image: url('../img/blog/blog_1.jpg');
	background-attachment: fixed;
	background-position: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
@media (max-width: 576px){
	.header-bg__section--blog {
    background-position: top right;
    background-size: 380% auto;
    background-repeat: no-repeat;
		height: 280px;
	}
}

@media (max-width: 992px){
	.header-bg__section--blog {
		margin: 0px 0px 60px 0px;
		background-size: initial;
		background-position: top right;
	}
}

.header-bg h1 {
	padding-left:10px; 
	font-size: 40px;
	font-weight:700;
}
.header-bg__section--blog .header-bg span {
	color:#4aa5a9;
}

@media (max-width: 576px){
	.header-bg h1 {
		font-size: 33px;
	}
	.header-bg__section--blog {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 370px){
	.header-bg__section--blog {
    background-position: top right -80px;
    background-size: 440% auto;
	}
	.header-bg h1 {
		font-size: 30px;
	}
}

/* Page blog-single */
.header-bg__section--single {
	display: flex; 
	align-items: center; 
	background-image: url('../img/blog/blog_1.jpg');
	background-size: cover;
	/* background-position: top right; */
}
.header-bg__section--single .header-bg h1 {
	padding-left: 0;
	font-weight:700;
	color:#4aa5a9;
}

@media (max-width: 576px){
	.news__content__section {
		margin-top: 30px;
		margin-bottom: 40px;
	} 
}

.container_bredcrumbs a {
	transition: color 0.3s ease 0s;
}
.container_bredcrumbs a:hover {
	color:#4aa5a9;
}


/* Catalog */
.woocommerce-breadcrumb {
	margin: 15px 0px 20px;
}
.woocommerce-breadcrumb > * {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #434343;
}
@media (max-width: 576px){
	.woocommerce-breadcrumb {
		margin: 10px 0px;
	}
}
.woocommerce-breadcrumb > span:last-child {
	color:#242424;
}
.woocommerce-breadcrumb > a {
	transition: color 0.3s ease 0s;
}
.woocommerce-breadcrumb > a:hover {
	color: #00a5a0;
}

.breadcrumb-separator {
	margin: 0px 4px;
}

.woocommerce-products-header__title {
	margin: 0px 0px 31px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #292D2D;
}


/* Site-cintent */
.site-content .col-full {
	display: flex;
}
@media (max-width: 992px){
	.site-content .col-full {
		flex-direction: column;
	}
}
.widget-area {
	flex: 0 0 282px;
	margin: 0px 30px 0px 0px;
}

@media (max-width: 992px){
	.widget-area {
		margin: 0px 0px 0px 0px;
	}
}

.content-area .products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products > li {
	margin-bottom: 3.7%;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.content-area .products {
		justify-content: space-evenly;
	}
	.products > li {
		flex: 0 1 50%;
	}
}

@media (max-width: 900px){
	.products > li {
		flex: 0 1 50%;
    margin-bottom: 30px;
	}
}
@media (max-width: 630px){
	.products > li {
		flex: 0 1 100%;
	}
	.products > li:last-child {
		margin-bottom: 15px;
	}
}

.products .products-card {
	max-width: 282px;
}
@media (max-width: 630px){
	.products .products-card {
		max-width: 335px;
	}
}

/* Sidebar */
.product-filters {
	padding: 0px 25px 20px 20px;
	margin: 0px 0px 30px 0px;
	border: 1px solid #DCDDDD;
}
.woocommerce-widget-layered-nav {
	padding: 20px 0px 0px;
	border-bottom: 1px solid #DCDDDD;
}
.woocommerce-widget-layered-nav-list {
	padding: 0px 0px 20px 0px;
}
.woocommerce-widget-layered-nav:last-of-type {
	border-bottom: none !important;
}
.woocommerce-widget-layered-nav:last-of-type .woocommerce-widget-layered-nav-list {
	padding: 0px 0px 30px 0px;
}
.widget-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 16px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #292D2D;
	transition: margin-bottom 0.3s ease 0s;
}
/* .widget-title._active {
	margin-bottom: 0;
	transition: margin-bottom 0.3s ease .4s;
} */
.woocommerce-widget-layered-nav-list__item:last-child .sub-list li:last-child {
	margin-bottom: 0;
} 
._spoller {
	cursor: pointer;
}
.widget-title::after {
	content: '';
	display: block;
	width: 14px;
	height: 8px;
	background: url(../img/icons/arrow-top.svg) no-repeat center;
	transition: transform 0.5s ease 0s;
} 

.widget-title._active::after {
	transform: rotate(180deg);
}

.woocommerce-widget-layered-nav-list__item {
	margin: 0px 0px 15px 0px;
}
.woocommerce-widget-layered-nav-list__item:last-child {
	margin: 0px 0px 0px 0px;
}

.woocommerce-widget-layered-nav-list__item > a {
	display: inline-block;
	padding: 0px 0px 0px 25px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #242424;
	position: relative;
}

.woocommerce-widget-layered-nav-list__item > a::before {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 3px;
}
.woocommerce-widget-layered-nav-list.sub-list {
	margin: 10px 0px 0px 0px;
}
.woocommerce-widget-layered-nav-list.sub-list .woocommerce-widget-layered-nav-list__item {
	margin: 0px 0px 10px 0px;
}
.woocommerce-widget-layered-nav-list.sub-list > li > a {
	padding: 0px 0px 0px 44px;
}
.woocommerce-widget-layered-nav-list.sub-list > li > a::before {
	width: 16.5px;
	height: 18px;
	left: 23px;
	top: 2px;
}

.woocommerce-widget-layered-nav-list__item > a::after {
	content: '';
	display: none;
	position: absolute;
	top: 1px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../img/icons/check.svg) no-repeat center;
	background-size: 14px 18px;
}
.woocommerce-widget-layered-nav-list.sub-list > li > a::after {
	width: 16.5px;
	height: 18px;
	left: 22.5px;
	top: 3px;
	background-size: 12px 16px;
}
.spoller-title-arrow {
	display: inline-block;
	padding: 7px 4px;
	width: 12px;
	height: 6px;
	position: absolute;
	top: 6px;
	right: 0px;
	background: url(../img/icons/arrow-top-small.svg) no-repeat center;
	background-size: 12px 6px;
	transition: transform 0.3s ease 0s;
}
@media (max-width: 992px){
	.spoller-title-arrow + ul,
	.widget-title--use + ul
	 {
		display: none;
	}
	.spoller-title-arrow  {
		transform: rotate(180deg) !important;
	}
	.spoller-title-arrow._active
	  {
		transform: rotate(0deg) !important;
	}
}
.spoller-title-arrow._active {
	transform: rotate(180deg);
}
.woocommerce-widget-layered-nav-list__item.chosen > a::after {
	display: block;
}

.woocommerce-widget-layered-nav-list__item.has-children {
	position: relative;
}

.woocommerce-widget-layered-nav-list__item.has-children > a {
	margin-right: 18px;
}

.product-filters__btn {
	display: block;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	line-height: 40px;
	background: #4AA5A9;
	border: 1px solid #4AA5A9;
	text-align: center;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
} 
.product-filters__btn:hover {
	background-color: #fff;
	color: #4AA5A9;
}

/* Info-img */
.info-img {
	width: 100%;
	height: 450px;
	padding: 252px 20px 40px;
	margin: 0px 0px 30px 0px;
	position: relative;
}

.info-img img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.info-img__title {
	margin: 0px 0px 10px 0px;
	position: relative;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 35px;
	line-height: 48px;
	color: #4AA5A9;
}

.info-img__text {
	position: relative;
	z-index: 1;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #000000;
}

/* Tags */
.tags {
	padding: 20px;
	margin-bottom: 60px;
	background: #F9F9F9;
}
@media (max-width: 767px){
	.tags {
	  margin-bottom: 30px;
	}
}

.tags__title {
	margin: 0px 0px 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #292D2D;
}

.tags__body {
	display: flex;
	flex-wrap: wrap;
}

.tags__tag {
	display: inline-block;
	padding: 2px 4px;
	margin: 0px 5px 5px 0px;
	font-family: Open Sans;
	font-weight: 300;
	font-size: 10px;
	line-height: 14px;
	color: #656A6A;
	background: #FFFFFF;
	transition: background-color 0.3s ease 0s;
}
.tags__tag:hover {
	color: #656A6A;
	background: rgba(0, 0, 0, .05);
}

/* Pagination */
.woocommerce-pagination {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	margin: 0px 0px 60px 0px;
}
@media (max-width: 767px){
	.woocommerce-pagination {
		margin: 0px 0px 30px 0px;
	}
}
.page-numbers {
	display: flex;
}
.page-numbers a, .page-numbers span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	color: #656A6A;
	transition: color 0.3s ease 0s;
}
.page-numbers a:hover {
	color: #292D2D;
	text-decoration: underline;
}
.page-numbers li {
	margin: 0px 15px 0px 0px;
}
.page-numbers li:last-child {
	margin: 0px 0px 0px 0px;
}
.page-numbers li:nth-last-child(2) {
	margin: 0px 0px 0px 0px;
}
.current {
	color: #292D2D !important;
	font-weight: 700 !important;
}

.next {
	display: none;
}

/*Catalog-info */
.catalog-info {
	width: 100%;
	margin-bottom: 30px;
}
@media (min-width: 992px) {
	.catalog-info {
		margin-bottom: 90px;
	}
}

.container_title {
	margin: 0px 0px 15px 0px;
	font-weight: 800;
	font-size: 24px;
	line-height: 33px;
}

.catalog-info__text p {
	margin: 0px 0px 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #242424;
}
@media (max-width: 992px){
	.catalog-info__text p {
		font-size: 14px;
		line-height: 19px;
	}
}

/* Product page */
.product-single {}

.product-single p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #242424;
}


.product-single__title {
	margin: 0px 0px 30px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #292D2D;
}

.product-single__body {
	display: flex;
	margin: 0px 0px 60px 0px;
}

.product-single__slider {
	max-width: 386px;
	margin: 0px 30px 0px 0px;
}

.single-product {
	margin: 0px 0px 15px 0px;
	border: 1px solid #DCDDDD;
}

.product-single__descr {
	flex: 0 1 auto;
}

.product-single__descr-text {
	margin: 0px 0px 30px 0px;
}

.product-single__descr-list {
	margin: 0px 0px 30px 0px;
}

.product-single__descr-list li {
	display: flex;
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	line-height: 22px;
	color: #242424;
}
.product-single__descr-list li::before {
	content: '';
	flex: 0 0 15px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 4px 8px 0px 0px;
	background: url(../img/icons/check-list.png) center no-repeat;
}

.product-single__cols {
	display: flex;
	justify-content: space-between;
}

.product-single__col-left {
	display: inline-flex;
	flex-direction: column;
}

.product-single .product__price {
	margin: 0px 0px 26px 0px;
}


.product-single .product__price-title {
	margin: 0px 5px 0px 0px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

.product-single .products-card__price {
	margin: 0px 11px 0px 0px;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	color: #D7233E;
}

.product-single .woocommerce-Price-amount {
	
}

.product-single .amount {}

.product-single .woocommerce-Price-currencySymbol {
	font-size: 18px;
}

.product-single .products-card__price-old {
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	line-height: 27px;
	text-decoration-line: line-through;
	color: #C4C4C4;
}

@media (min-width: 991.98px){
	.product-single .quantity:hover input,
	.product-single .quantity input:focus {
		box-shadow: 0 0 0 2px #D7233E;
	}
}

.product-single .products-card__btn {
	display: inline-flex;
	justify-content: center;
	padding: 0;
	background: #D7233E;
	border: 1px solid #D7233E;
	width: 100%;
}
.product-single .products-card__btn:hover {
	background: #fff;
	color:#D7233E;
}

.product-single .btn-product {}

.product-single .icon-cart {}

.product-single__col-right {
	flex: 0 1 48%;
	max-width: 386px;
	padding: 21px 20px;
	background: #FFFFFF;
	border: 1px solid #DCDDDD;
}
@media (max-width: 1200px){
	.product-single__cols {
		flex-wrap: wrap;
	}
	.product-single__col-right {
		flex: 0 1 100%;
		max-width: 100%;
	}
	.product-single__col-left,
	.product-single__col-right {
		margin: 0px 0px 30px 0px;
	}
}

.product-single__col-right p {
	font-size: 14px;
	line-height: 19px;
	color: #333333;
}

.product-single__delivery-term {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DCDDDD;
}

.product-single__payment-term {}

.product-single__delivery-term,
.product-single__payment-term {
	display: flex;
	align-items: center;
}

.product-single__delivery-term::before {
	content: '';
	flex: 0 0 auto;
	display: block;
	margin: 0px 20px 0px 0px;
	width: 38px;
	height: 31px;
	background: url('../img/icons/delivery.svg') center no-repeat;
} 

.product-single__payment-term::before {
  content: '';
	flex: 0 0 auto;
	display: block;
	margin: 0px 15px 0px 5px;
	width: 38px;
	height: 31px;
	background: url('../img/icons/payment.svg') center no-repeat;
}

.product-single__primary {
	display: flex;
	justify-content: space-between;
}

/* tabs */
.product-single__content {
	max-width: 805px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 66%;
	width: 66%;
}

.product-single__nav {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 20px 0px;
}

.product-single__navitem {
	display: flex;
	padding: 28px 0px;
	/* margin: 0px 11px 0px 0px; */
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #434343;
	background: #F9F9F9;
	border: 1px solid #DCDDDD;
	cursor: pointer;
	position: relative;
	transition: background-color 0.3s ease 0s;
	overflow: hidden;
	width: 32%;
	align-items: center;
	justify-content: center;
}
.product-single__navitem:last-child {
	margin: 0px 0px 0px 0px;
}
.product-single__navitem:hover {
	background: #f1f1f1;
}
.product-single__navitem::before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background: #4AA5A9;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}
.product-single__navitem._active::before {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}
.product-single__items {
}

.product-single__block {
		animation: fade 1s;
}

.product-single__block--descr {}

.product-single__tab-text p {
	margin: 0px 0px 20px 0px;
	font-size: 16px;
	line-height: 28px;
	color: #232323;
}

.product-single__tab-text p:last-child {
	margin: 0px 0px 15px 0px;
}

.product-single__content .product-single__descr-list li {
	font-size: 16px;
	line-height: 22px;
	color: #232323;
}

.product-single__bottom-text p {
	margin: 0px 0px 25px 0px;
	font-size: 16px;
	line-height: 22px;
	color: #232323;
}

.product-single__block--video {}

.product-single__block--instruction {}


/* research */
.research {
	height: 100%;
	width: 31.65%;
	max-width: 386px;
	margin: 0px 0px 30px 0px;
	padding: 10px 10px 0px;
	background: #FFFFFF;
	border: 1px solid #DCDDDD;
}

.research__title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 70px;
	background: #4AA5A9;
}

.research__doc {
	display: flex;
	align-items: center;
	padding: 20px 0px;
	font-size: 18px;
	line-height: 25px;
	color: #232323;
	transition: color 0.3s ease 0s;
	border-bottom: 1px solid #DCDDDD;
}
.research li:last-child .research__doc{
	border-bottom: none;
}
.research__doc:hover {
	color:#4AA5A9;
}
.research__doc::before {
	content: '';
	flex: 0 0 auto;
	display: block;
	width: 39.6px;
	height: 50px;
	margin: 0px 15px 0px 5px;
	background-color: #000;
	-webkit-mask-image: url('../img/icons/download.svg');
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: cover;
	transition: background-color 0.3s ease 0s;
}

.research__doc:hover::before {
	background-color: #4AA5A9;
}

.recommendation__title {
	margin: 0px 0px 30px 0px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #292D2D;
}
.container__products--recommendation {
	margin-top: 0 !important;
}
.product-single .quantity {
	flex: 0 0 80px;
}
@media (max-width: 1250px){
	.recommendation__title {
		text-align: center;
	} 
}

@media (max-width: 992px){
	.product-single__body {
		flex-wrap: wrap;
	} 
	.product-single__slider {
    flex: 0 1 100%;
		width: 100%;
    margin: 0px auto 30px;
	}
	.product-single__col-right {
		margin: 0px 0px 0px 0px;
	}
	.product-single__body {
    margin: 0px 0px 40px 0px;
	}
	.product-single__primary {
    flex-wrap: wrap;
	}
	.product-single__content {
    max-width: 100%;
    flex: 0 1 100%;
    width: 100%;
	}
	.research {
    width: 100%;
    max-width: 100%;
	}
	.product-single__nav {
    justify-content: space-between;
	}
	.product-single__navitem {
    padding: 0;
    width: 31.5%;
    text-align: center;
    line-height: 83px;
    margin: 0px 0px 0px 0px;
	}
}

@media (max-width: 767px){
	.product-single p {
		font-size: 14px;
		line-height: 19px;
	}
	.product-single__navitem {
    line-height: 60px;
	}
	.product-single__tab-text {
		margin: 0px 0px 5px 0px;
	}
	.product-single__tab-text p {
		font-size: 14px;
		line-height: 26px;
		margin: 0px 0px 10px 0px;
	}
	.product-single__descr-list {
    margin: 0px 0px 15px 0px;
	}
	.product-single__descr-list li,
	.product-single__content .product-single__descr-list li {
		font-size: 14px;
		line-height: 19px;
	}
	.product-single__bottom-text p {
		margin: 0px 0px 19px 0px;
	}
	.product-single__bottom-text p:last-child {
		margin: 0 0 9px;
	}
	.product-single__items .product-single__descr-list {
		margin: 0px 0px 15px 0px;
	}
	.product-single__content {
		margin: 0px 0px 20px 0px;
	}
	.product-single__descr-text {
    margin: 0px 0px 13px 0px;
	}
	.research__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 60px;
	}
	.research__doc {
		padding: 10px 0px;
		font-size: 14px;
		line-height: 19px;
	}
	.research__doc::before {
		width: 23.7px;
		height: 30px;
		margin: 0px 13px 0px 5px;
		object-fit: cover;
	}
	.recommendation__title {
		margin: 0px 0px 15px 0px;
	} 
	.container__products--recommendation .products-swiper-pagination {
    margin: 15px auto 0;
	}
}

@media (max-width: 576px){
	.product-single__body {
    margin: 0px 0px 30px 0px;
	}
	.product-single__nav {
		flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
	}
	.product-single__navitem {
    width: 100%;
    line-height: 40px;
    margin: 0px 0px 3px 0px;
	}
	.research__title {
		line-height: 40px;
	}
	.container__products--recommendation {
		margin-bottom: 30px;
	}
	.product-single .products-card__price-old {
    font-size: 17px;
    line-height: 27px;
	}
	.product-single .products-card__price {
    margin: 0px 5px 0px 0px;
    font-size: 24px;
    line-height: 41px;
	}
}

/* Cart */
.cart-wrapper .entry-title {
	margin: 0px 0px 42px 0px;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #292D2D;
}

.woocommerce-cart-form__contents {
	width: 100%;
	font-size: 16px;
	line-height: 22px;
}
.woocommerce-cart-form__contents tr {
	width: 100%;
	border-bottom: 1px solid #BFC0C0;
}
.woocommerce-cart-form__contents tr:last-child {
	border-bottom: none;
}
.woocommerce-cart-form__contents td {
	padding: 10px 0px;
	vertical-align: middle;
}
.woocommerce-cart-form__contents th {
	padding: 0px 0px 12px;
	vertical-align: middle;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #292D2D;
}
.cart-wrapper .remove {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-weight: 700;
	font-size: 16px;
	padding: 0px 0px 1px 0px;
	margin: 0px 0px 0px 23px;
	width: 16.5px;
	height: 16.5px;
	color: #fff;
	background: #747780;
	border-radius: 50%;
}
.product-remove {
	width: 80px;
}
.product-thumbnail {
	width: 130px;
}
.product-thumbnail img {
	max-width: 80px;
	max-height: 80px;
}
.product-name {
	width: 386px;
}
.product-name a {
	display: block;
	width: 386px;
	margin: 0px 30px 0px 0px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #4AA5A9;
}
.product-price {
	width: 207px;
}
.product-quantity {
	width: 207px;
}
.woocommerce-cart-form__contents td.actions {
	padding: 20px 0px 30px;
}
.actions__row {
	display: flex;
}
.coupon {
	display: flex;
}
.update_btn {
	margin: 0px 0px 0px auto;
}
.cart-wrapper .button {
	width: auto;
	padding: 0px 15px;
	line-height: 42px;
	height: 42px;
	border-bottom: 1px solid #4AA5A9;
	background: #4AA5A9;
	color: #fff;
	font-size: 12px;
	text-transform: initial;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}
.cart-wrapper .button:hover {
	background: #fff;
	color: #4AA5A9;
}
.coupon .input-text {
	width: 180px;
	padding: 12px 10px;
	font-size: 12px;
	line-height: 16px;
	color: #242424;
	background: #FFFFFF;
	border: 1px solid #BFC0C0;
}
.coupon .input-text:focus {
	border: 1px solid #4AA5A9;
}
.coupon .input-text::placeholder {
	color: #747780;
}
.cart_totals  .shop_table {
	margin-left: auto;
}
.cart_totals  .shop_table th {
	display: block;
	margin: 0 30px 0 0;
}
.cart_totals  .shop_table th,
.cart_totals  .shop_table td
 {
	 padding: 0px 0px 20px;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #242424;
}
.wc-proceed-to-checkout {
	display: flex;
}
.cart_totals  .wc-proceed-to-checkout a {
	padding: 0px 60px;
	height: 50px;
	margin: 0px 0px 0px auto;
	font-size: 18px;
	line-height: 50px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.cart-wrapper {
	margin: 0px 0px 30px 0px;
}
.update_btn.disabled {
	opacity: 0.5;
}
@media (min-width: 992px){
	.product-name a:hover {
		text-decoration: none;
	}
}

.shop_table-mob {
	display: none;
}
.order-total .woocommerce-Price-currencySymbol {
	margin: 0px 0px 0px 5px;
}

@media (max-width: 992px){
	.product-name a {
    width: 326px;
	}
}
@media (max-width: 767px){
	.shop_table {
		display: none;
	}
	.shop_table-mob,
	.cart-collaterals .shop_table {
		display: initial;
	}
	.shop_table-mob td {
		text-align: right;
		padding: 10px 0px 7px;
	}
	.shop_table-mob .quantity {
		margin: 0px 0px 0px auto;
	}
	.product-thumbnail {
		position: relative;
	}
	.product-thumbnail img {
		display: block;
    max-width: 100px;
    max-height: 100px;
		margin: 0px auto;
	}
	.product-thumbnail a {
		display: block;
		width: 100%;
	}
	.cart-wrapper .remove {
		position: absolute;
		top: 11px;
    right: 2px;
	}
	.cart-collaterals table,
	.cart-collaterals tbody {
		display: block;
		width: 100%;
	}
	.cart-collaterals .shop_table tr  {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.product-name a {
		width: auto;
	}
	.product-name {
		width: auto;
	}
	.product-price {
		width: auto;
	}
	.product-quantity {
		width: auto;
	}
	.woocommerce-cart-form__contents tr {
		border-bottom: none;
	}
	.woocommerce-cart-form__contents tr.last-row {
		border-bottom: 1px solid #BFC0C0;
	}
	.woocommerce-cart-form__contents tr.last-row td,
	.woocommerce-cart-form__contents tr.last-row th {
		padding: 10px 0 17px;;
	}
	.woocommerce-cart-form__contents td.actions {
    padding: 20px 0px 38px;
	}
	.woocommerce-cart-form__contents th {
		padding: 10px 0px 5px;
		width: 130px;
		line-height: 22px;
	}
	.product-thumbnail {
		padding: 20px 0px 10px;
	}
	.product-name a {
		margin: 0px 0px 0px 0px;
	}
	.product-name {
		vertical-align: top !important;
	}
	.cart-wrapper .entry-title {
    margin: 0px 0px 16px 0px;
	}
}

@media (max-width: 576px){
	.actions__row {
		flex-wrap: wrap;
	}
	.coupon,
	.update_btn {
		flex: 0 1 100%;
	}
	.coupon {
		flex-wrap: wrap;
	}
	.coupon .input-text {
		margin: 0px 0px 5px 0px;
	}
	.coupon {
		margin: 0px 0px 20px 0px;
	}
	.coupon input {
		flex: 0 1 100%;
	}
	.cart_totals .wc-proceed-to-checkout a {
		width: 100%;
	}
}

@media (max-width: 370px) {
	.woocommerce-cart-form__contents th {
		padding: 10px 0px 5px;
		width: 80px;
		line-height: 22px;
	}
}

table .woocommerce-Price-currencySymbol {
	margin: 0px 0px 0px 5px;
}

.manufacturer {
	margin: 0px 0px 60px 0px;
}
@media (max-width: 992px){
	.manufacturer {
		margin: 0px 0px 60px 0px;
	}
}
@media (max-width: 767px){
	.manufacturer {
		margin: 0px 0px 40px 0px;
	}
}
.manufacturer span  {
	color: #49a29f;
}
.manufacturer p {
	color: rgb(102, 102, 102);
}
.content-block__title {
	padding: 0px 0px 35px 0px;
	margin: 0px 0px 35px 0px;
	border-bottom: 1px solid #49a29f;
}
@media (max-width: 767px){
	.content-block__title {
		font-size: 24px;
		padding: 0px 0px 15px 0px;
		margin: 0px 0px 15px 0px;
	}
}
.content-block__row .content-block__title {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 23px 0px;
	border-bottom: none;
}
.content-block__text {
	margin: 0px 0px 65px 0px;
}
.content-block__row {
	padding: 60px 0px;
	margin: 0px 0px 60px 0px;
	background-color: #f7f7f7;
}
.content-block__img {
	flex: 0 0 45%;
	margin: 0 30px 0 0;
}
.content-block__row  .container {
	display: flex;
}
.content-block__row .content-block__text {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 992px){
	.content-block__text {
		margin: 0px 0px 40px 0px;
	} 
}
@media (max-width: 767px){
	.content-block__row  .container {
		flex-wrap: wrap;
	}
	.content-block__img {
		flex: 0 1 100%;
		margin: 0px 0 30px;
	}
	.content-block__img img {
		display: block;
		margin: 0px auto;
	}
	.content-block__row .content-block__title {
		margin: 0px 0px 15px 0px;
	}
	.content-block__text {
		margin: 0px 0px 30px 0px;
	}
	.content-block__row {
		padding: 30px 0px;
		margin: 0px 0px 30px 0px;
	}
}

/* Research page */
.research-block p {
	font-size: 13px;
	color: #686868;
}
.research-block__img img {
	height: 39px;
}

.research-block__text {
	margin: 0px 0px 30px 0px;
}
.research-block__text span {
	color:#49a29f;
}
.research-block__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 50px 0px 10px 0px;
}
.research-block__item {
	flex: 0 1 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px 40px 0px;
	text-align: center;
}
.research-block__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 74px;
	height: 74px;
	margin: 0px 0px 20px 0px;
	background-color: #EBEBEB;
	border-radius: 50%;
}

/* quality-block */
.quality-block {
	padding: 100px 0px 80px;
	margin: 0px 0px 50px 0px;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.quality-block .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.quality-block p {
	font-size: 14px;
	line-height: 23px;
}
.quality-block p span {
	color: #49a29f;
}
.quality-block__title {
	flex: 0 1 100%;
	padding: 0px 0px 35px;
	margin: 0px 0px 35px;
	border-bottom: 1px solid #49a29f;
	font-weight: 600;
	font-size: 32px;
}
.quality-block__text {
	flex: 0 1 50%;
}
.quality-block__img {
	flex: 0 1 50%;
}
@media (max-width: 767px){
	.quality-block {
		padding: 40px 0px 20px;
		margin: 0px 0px 30px 0px;
	}
	.quality-block__title {
		font-size: 24px;
		margin: 0px 0px 15px 0px;
		padding: 0px 0px 15px 0px;
	}
	.quality-block__text,
	.quality-block__img {
		flex: 0 1 100%;
	}
	.quality-block__text {
		margin: 0px 0px 10px 0px;
	}
	.quality-block__img img {
		display: block;
		margin: 0px auto;
	}
}

/* ethics-block */
.ethics-block {
	margin: 0px 0px 60px 0px;
}
.ethics-block__title {
	padding: 0px 0px 35px;
	margin: 0px 0px 35px;
	border-bottom: 1px solid #49a29f;
	font-weight: 600;
	font-size: 32px;
	color: #242424;;
}
.ethics-block__title span {
	color: #49a29f;
}
.ethics-block__subtitle {
	margin: 0px 0px 35px 0px;
}
.ethics-block__list-title {
	margin: 0px 0px 15px 0px;
}
.ethics-block__list-title,
.ethics-block__list {
	color: #666666;
	font-size: 14px;
	line-height: 23px;
}
@media (max-width: 992px){
	.ethics-block {
		margin: 0px 0px 60px 0px;
	}
}
@media (max-width: 757px){
	.ethics-block {
		margin: 0px 0px 30px 0px;
	}
	.ethics-block__title {
		padding: 0px 0px 15px;
		margin: 0px 0px 15px;
		font-size: 24px;
	}
	.ethics-block__subtitle {
		font-size: 22px;
		margin: 0px 0px 15px 0px;
	}
}

.header-bg__section--research {
	display: flex;
	flex-direction: column-reverse;
	padding: 0px 0px 60px 0px;
	margin: 0px 0px 60px 0px;
	position: relative;
}
.header-bg__section--research > img {
	position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	object-fit: cover;
	z-index: -1;
}

.header-bg__section--research .header-bg__title {
	display: inline-block;
	padding: 25px 25px;
	margin: 0px 0px 10px 0px;
	font-size: 26px;
	font-weight: 700;
	background: #49a29f;
	text-transform: uppercase;
	color: #fff;
}
.header-bg__section--research .header-bg__subtitle {
	display: inline-block;
	padding: 25px 25px;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}
@media (max-width: 767px){
	.header-bg__section--research  {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 576px){
	.header-bg__section--research  {
		padding: 0px 0px 20px 0px;
		height: 210px;
	}
	.header-bg__section--research .header-bg__title {
		padding: 15px;
		margin: 0px 0px 10px 0px;
		font-size: 18px;
	}
	.header-bg__section--research .header-bg__subtitle {
		padding: 15px;
		font-size: 18px;
	}
}

.storefront-breadcrumb {
	padding: 0;
	margin: 0;
}
.form-row {
	margin-left: 0;
	margin-right: 0;
}

/* Checkout page */
form.checkout {
	display: flex;
	margin: 0px 0px 35px 0px;
}
.checkout__content {
	flex: 0 0 48.7%;
	margin: 0 auto 0 0;
}
.woocommerce-checkout-review-order {
	flex: 0 0 48.7%;
}
.checkout-block .entry-title {
	margin: 0px 0px 30px 0px;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #292D2D;
}
.checkout-block h3 {
	margin: 0px 0px 15px 0px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #292D2D;
}
.checkout-block input,
.checkout-block textarea
 {
	width: 100%;
	margin: 0px 0px 30px 0px;
	background: #FFFFFF;
	border: 1px solid #BFC0C0;
	font-size: 14px;
	line-height: 19px;
	color: #292D2D;
}
.checkout-block input::placeholder,
.checkout-block textarea::placeholder
 {
	color: #747780;
}
.checkout-block .buyer__wrapper .form-row {
	margin-bottom: 15px;
}
.options__item:last-child {
	margin-bottom: 3px;
}
.checkout-block input {
	height: 40px;
	padding: 0px 10px;
	margin: 0px 0px 0px 0px;
	line-height: 40px;
}
.checkout-block textarea {
	height: 120px;
	padding:  5px 10px;
	resize: none;
}
.form-row.woocommerce-invalid input.input-text {
	box-shadow: initial;
}
.buyer__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px 0px 15px 0px;
}
.buyer__wrapper .form-row {
	flex: 0 1 48%;
}
.checkout-block .options input {
	height: auto;
	line-height: initial;
} 
.checkout-block .disabled {
	opacity: 0.5;
}
.delivery-field .disabled .options__text:before {
	background: transparent;
}
.input-text  {
	margin: 0px 0px 5px 0px;
}
.info-text {
	margin: 5px 0px 30px 0px;
	font-size: 14px;
	line-height: 19px;
}
.options__item {
	margin-bottom: 13px;
}
.payment-field {
	margin: 0px 0px 15px 0px;
}

.checkout .shop_table  thead th
 {
	padding: 0px 0px 12px 0px;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #292D2D;
} 

.checkout .shop_table  tbody th,
.checkout .shop_table  tbody td
 {
	 padding: 20px 0px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #292D2D;	 
}
.checkout .shop_table  tfoot th,
.checkout .shop_table  tfoot td {
	padding: 20px 0px;
	font-size: 16px;
	line-height: 22px;
	color: #292D2D;	
}
.checkout .shop_table tr {
	border-bottom: 1px solid #BFC0C0;
}
.checkout .shop_table tr:last-child {
	border-bottom: none;
}
.checkout .shop_table  th,
.checkout .shop_table  td {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.checkout .checkout_btn {
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #4AA5A9;
	border: 1px solid #4AA5A9; 
}
.woocommerce-checkout-payment {
	margin: 30px 0px;
}
.checkout .checkout_btn:hover {
	color: #4AA5A9;
	background: #fff;
}
table.woocommerce-checkout-review-order-table .product-name {
	width: 66%;
}
form > div.woocommerce-checkout-review-order > h3 {
	margin-bottom: 20px;
}
@media (max-width: 767px) {
	.checkout .shop_table {
		display: table;
	}
	.checkout {
		flex-wrap: wrap;
	}
	.checkout__content,
	.woocommerce-checkout-review-order {
		flex: 0 1 100%;
	}
}
@media (max-width: 576px){
	form.checkout {
		margin: 0px 0px 0px 0px;
	}
	.buyer__wrapper .form-row {
    flex: 0 1 100%;
	}
	.payment-field {
    margin: 0px 0px 24px 0px;
	}
	.checkout .shop_table th, .checkout .shop_table td {
    padding-left: 9px !important;
    padding-right: 0px !important;
	}
	.checkout .shop_table .product-total,
	.checkout .shop_table tfoot td
	 {
		text-align: right;
	}
	.woocommerce-checkout-payment {
		margin: 13px 0px 30px;
	}
}